* {
  font-family: 'Josefin Sans', sans-serif;
}
p {
  font-family: 'Dancing Script', cursive;
}

/* .font1  {
  font-family: 'Audiowide', cursive;
}
.font2  {
  font-family: 'Bad Script', cursive;
}
.font3  {
  font-family: 'Berkshire Swash', cursive;
}
.font4  {
  font-family: 'Caveat', cursive;
}
.font5  {
  font-family: 'Dancing Script', cursive;
}
.font6  {
  font-family: 'Gloria Hallelujah', cursive;
}
.font7  {
  font-family: 'Inconsolata', monospace;
}
.font8  {
  font-family: 'Indie Flower', cursive;
}
.font9  {
  font-family: 'Josefin Sans', sans-serif;
}
.font10  {
  font-family: 'Lemonada', cursive;
}
.font11  {
  font-family: 'Lobster', cursive;
}
.font12  {
  font-family: 'Orbitron', sans-serif;
}
.font13  {
  font-family: 'Permanent Marker', cursive;
}
.font14  {
  font-family: 'Sacramento', cursive;
}
.font15  {
  font-family: 'Satisfy', cursive;
}
.font16  {
  font-family: 'Source Code Pro', monospace;
}
.font17  {
  font-family: 'Texturina', serif;
} */
